.company-logo {
  object-fit: inherit;
  margin-right: 0.5rem;
 height: 2.5rem !important;
 width: 180px !important;

}


.sidebar {
  width: 240px;
  height: 100vh;
  transition: width 0.3s ease;
  padding: 8px;
  display: flex;
  flex-direction: column;

  button {
    display: flex;
    align-items: center;
    background: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 6px;  
  
  }

  img {
    width: 1.2rem;
    height: 1.2rem;
    
  }

  span{
    font-size: smaller;
  }
  


}
.company-title {
  font-size: large !important ;
  }

  
.sidebar.collapsed {
  width: 60px;
  padding: 8px;
  margin-top: 13px;
  img {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 3px;
    margin-left: 2px;
  color: white !important;
  }
  .company-logo{
    margin-bottom: 10px;
  }
 

 
}

.company-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}



.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.sidebar-content {
  margin-top: 10px;
}

.active button {
  background-color: #070707;
  color: white !important;
  margin-bottom: 0.25rem;


  span{
    color: white !important;

  }
  img{
    filter:invert(1);

  }
  
  

}

// @media only screen and (min-width: 1000px) {
//   .sidebar-page {
//     margin-top: 2rem;
//     position: sticky;
//     top: 2rem;
//     padding: 3%;

//     span {
//       font-size: 12px;
//     }

//     a {
//       width: 100%;
//       display: block;
//       border-radius: 0.25rem;
//       padding: 0.5rem 0.5rem;
//       font-size: smaller;

//       button {
//         margin-bottom: 0.25rem;
//         background-color: white;
//         text-align: left;
//       }

//       &.active {
//         color: white;

//         background: #020203;

//         button {
//           background-color: #f5f5f6;

//           span {
//             color: white;
//             background-color: #151617;
//           }

//           img {           
//              color: white !important;
//              background: #f5f5f6;
//             filter: invert(1);
//           }
//         }
//       }
//     }
//   }
// }


