.login-page-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;

  
    .login-form-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 400px;
      border-radius: 0.5rem;
  
      h2 {
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
  
      img {
        margin-bottom: 2rem;
        height: 130px;
        width: 180px;
        object-fit: cover;
        border-radius: 100% ;
      }
      div {
        width: 100%;
      }
    }
  }
  